.skeleton__grid {
  width: 100%;
  min-height: 10rem;
  margin: var(--space-5) 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: start;
  gap: var(--space-2);
}
