.infos {
  min-height: 10vh;
  margin-top: var(--space-2);

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: var(--space-2);
}

.infos__box {
  text-align: center;

  display: flex;
  flex-direction: column;
}

.infos__number {
  font-size: 2.1rem;
  font-weight: 400;
  color: var(--color-primary);
  font-family: var(--font-heading);
}

.infos__label {
  font-size: 1rem;
  color: var(--color-text-secondary);
  font-family: var(--font-body);
  text-transform: uppercase;
  font-weight: 500;
}

@media (max-width: 720px) {
  .infos {
    grid-template-columns: repeat(2, 1fr);
  }
}
