.header {
  height: 80px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  font-size: 1.7rem;
  color: var(--color-text-primary);
  font-weight: 600;
}

.header__logoSpan {
  color: var(--color-primary);
}

.header__nav {
  list-style: none;

  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.header__links {
  color: var(--color-text-secondary);
  cursor: pointer;
  transition: var(--transition);
}

.header__links:hover {
  color: var(--color-text-primary);
  transition: var(--transition);
}

@media (max-width: 720px) {
  .header {
    padding: 0 var(--space-1);
  }

  .header__nav {
    display: none;
  }
}
