.PublishProject {
  margin: var(--space-5) 0;
}

.PublishProject__box {
  width: 100%;
  min-height: 12rem;
  padding: 0 var(--space-3);
  background-color: var(--color-surface);
  border: 1px dashed var(--color-text-primary);
  border-radius: var(--radius-1);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.PublishProject__title {
  font-size: 1.6rem;
  color: var(--color-text-primary);
}

.PublishProject__description {
  font-size: 0.9rem;
  color: var(--color-text-secondary);
}

@media (max-width: 720px) {
  .PublishProject__box {
    text-align: center;
    flex-direction: column;
    gap: var(--space-2);
    padding: var(--space-1);
  }
}
