.PublishProject {
  width: 100%;
  height: fit-content;
  padding: 0 3rem 4rem;
  margin-top: 5rem;
}

.PublishProject__box {
  width: 100%;
  min-height: 12rem;
  padding: 0 3rem;
  background-color: var(--color-surface);
  border: 1px dashed var(--color-text-primary);
  border-radius: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.PublishProject__title {
  font-size: 1.6rem;
  color: var(--color-text-primary);
}

.PublishProject__description {
  font-size: 0.9rem;
  color: var(--color-text-secondary);
}

.PublishProject__btn {
  padding: 0.5rem 1rem;
  font-weight: 600;
  background-color: var(--color-primary);
  color: var(--color-text-on-primary);
}

@media (max-width: 720px) {
  .PublishProject__box {
    text-align: center;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
  }
}
