.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;

  height: 4rem;
  color: var(--color-text-secondary);
}

.footer p:first-child {
  justify-self: start;
}

.footer p:nth-child(2) {
  justify-self: center;
}

.footer p:last-child {
  justify-self: end;
}

.footer__link {
  text-decoration: underline;
  color: var(--color-primary);
}

@media (max-width: 720px) {
  .footer {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: var(--space-2);
    padding: var(--space-2) var(--space-1);
  }

  .footer p {
    text-align: center;
  }
}
